@import url(https://fonts.googleapis.com/css2?family=Patua+One&display=swap);
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
body > .container {
  padding: 60px 15px 0;
}

.navbar-inverse {
  border-color: #3ae73b;
  border-bottom-width: medium;
}

.navbar-brand {
  font-family: "Patua One", cursive;
  font-size: 40px;
  color: whitesmoke !important;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  color: #3ae73b;
}

.container .text-muted {
  margin: 20px 0;
}

.footer {
  background-color: #222;
  margin-top: 20px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer > .container > .text-white {
  color: whitesmoke;
}

code {
  font-size: 105%;
}

.recaptcha {
  width: 304px;
  margin: 0 auto;
}

.show-link {
  font-size: larger;
  font-weight: bold;
  margin: 30px;
}

/*
    404 PAGE
 */
.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.error-actions .btn {
  margin-right: 10px;
}

/*
    Google reCaptcha
 */
.g-recaptcha {
  width: 300px;
  margin: 0 auto 1em auto;
}
